.hero {
  background-image: url(../../images/car-lot.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-animate {
    animation: fadeSlideIn 1.2s ease-out forwards;
    opacity: 0;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}